.tkgal-container {margin-top:-20px;}

html {
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;}

.media {display:none;margin-top:0px;}
.media.current {display: block;}

.container-full {
	display: table-cell;
	width:100vw;
	height:calc(100vh - 50px);
    vertical-align: middle;
	text-align:center;
	padding:0px;
	margin: 0px;
	position:relative;
	border-bottom:1px solid rgb(34,34,34);}
.container-full+.container {margin-top:20px;}
.container-full img, .container-full video{
	max-width:100%;
	max-height:100%;
	position:relative;}
.container-full video{padding-bottom:50px;}
	
.overlay {
	position:absolute;
	padding:10px 20px;
	background-color:rgba(8,8,8,0.5);}
.overlay a {color:#EEEEEE;}
.overlay-top{top:0px;}
.overlay-bottom{bottom:0px;width:100%;}