# Log files
*.log

# Python bytecode
*.pyc

# Development database
*.sqlite3

# Production settings
/tkweb/settings/prod.py

# Django static and media folders
/media/
/static/

# Python virtual environments
/venv*/

# TLS keys (Let's encrypt)
*.key
