[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==1.11.*"

django-jfu = {git = "https://github.com/CalPolyResDev/django-jfu"}
tktitler = {ref = "v1.0.0", git = "https://github.com/TK-IT/tktitler.git"}
wiki = {ref = "redlinks", git = "https://github.com/Mortal/django-wiki.git"}

django-constance = {version = "*", extras = ["database"]}

# We can't use newer versions of Pillow, because of django-verstatileimagefield
Pillow = "==5.0.0"
django-versatileimagefield = "*"

django-cleanup = "*"
django-model-utils = "*"
sorl-thumbnail = "*"
"django-bootstrap3" = "*"
icalendar = "*"
django-macros = "*"
mysqlclient = "*"
django-multiupload = "*"
django-mediumeditor = "*"
jsonfield = "*"
"html2text" = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
Unidecode = "*"

[dev-packages]
