Django>=3.2,<3.2.99
git+https://github.com/CalPolyResDev/django-jfu@b5633c72a1573380619570b3eb3d3732edc882f7
git+https://github.com/TK-IT/tktitler.git
git+https://github.com/django-wiki/django-wiki.git@9b05df98b7f1ca24683ff181abe5147c3a2fed86
django-constance
django-picklefield
Pillow>=2.4.0
imageio
django-versatileimagefield>=1.10
django-cleanup
django-model-utils
sorl-thumbnail<=12.9.0
django-bootstrap3
icalendar
django-macros
mysqlclient
django-multiupload
django-mediumeditor
jsonfield
html2text
numpy
scipy
matplotlib
Unidecode
django-sekizai>=3.0.0,<3.99
