django>=1.11,<1.11.99
pytz>=2015.2
pillow>=2.6,<=5.0.0 # django-versatileimagefield 1.9 has requirement Pillow<=5.0.0,>=2.4.0
sorl-thumbnail>=12.3
django-versatileimagefield>=1.6
git+https://github.com/CalPolyResDev/django-jfu#egg=django-jfu
django-bootstrap3>=6.2.2
icalendar>=3.9.1
django-constance[database]>=1.1.1
django-cleanup>=0.4.2
django-model-utils>=2.5
six>=1.10
django-macros>=0.4.0
unidecode>=0.04.19
mysqlclient>=1.3.7
django-multiupload==0.5.2
git+https://github.com/TK-IT/tktitler.git@v1.0.0#egg=tktitler
git+https://github.com/django-wiki/django-wiki.git#egg=wiki # django-wiki>=0.4a3 is needed
django-mediumeditor==0.2.0
jsonfield
html2text
numpy
scipy
matplotlib

# For tests only
#freezegun>=0.3.10
