{% extends "regnskab/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css"
href="{% static 'regnskab/sheet_detail.css' %}" />
{% endblock %}
{% block title %}Slet krydslisten {{ sheet }}{% endblock %}
{% block content %}
<h2>Slet krydslisten {{ sheet }}</h2>

<p>
Vil du virkelig slette denne krydsliste?
Når først den er slettet, så er den væk! For altid!
</p>

<form method="post">{% csrf_token %}
    <input type="submit" value="Slet den">
</form>

{% if sheet_images or sheet.image_file %}
<p>Hent original:
{% if sheet.image_file %}<a href="{{ sheet.image_file.url }}">PDF</a>{% endif %}
{% for im in sheet_images %}
<a href="{% url 'regnskab:sheet_image_file_projected' pk=sheet.id page=im.page %}">{{ im.page }}</a>
{% endfor %}
</p>
{% endif %}

<div class="sheet">
<div class="sheetrow sheetrow-header">
 <div class="name"></div>
 {% for kind in sheet.columns %}
 <div class="column column-{{ kind.name }}">{{ kind.short_name }}</div>
 {% endfor %}
</div>
{% for row in sheet.rows %}
<div class="sheetrow {{ row.empty|yesno:"empty,nonempty"}} {% if row.profile.id == highlight_profile %}highlight{% endif %}">
 <div class="name">
  <div class="chosen-person">{{ row.title_name|default:"" }}</div>
 </div>
 {% for kind in row.kinds %}
  <div class="column column-{{ kind.kind.name }}">
  <div class="crosses">
   {% for _ in kind.counter %}<div class="cross">&times;</div>{% endfor %}
  </div>
  <div class="count">{% if kind.count %}{{ kind.get_count_display }}{% endif %}</div>
  </div>
 {% endfor %}
</div>
{% with row.image as img %}
{% if img %}
<div class="{{ row.empty|yesno:"empty,nonempty"}}"
style="overflow: hidden; position: relative;
width: {{ img.width }}px; height: {{ img.height }}px">
<img src="{{ img.url }}" style="position: absolute;
top: -{{ img.start }}px; left: 0" />
</div>
{% endif %}
{% endwith %}
{% endfor %}
</div>
{% endblock %}
