{% extends 'base.html' %}
{% load tkbrand %}

{% block title %}{{ album.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-7">
      <h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'gfyear' gfyear=album.gfyear  %}">{{ album.gfyear|gfyearPPslash }}</a></li>
          <li class="active">{{ album.title }}</li>
        </ol>
      </h2>
  </div>
  <div class="hidden-xs hidden-sm col-md-5 text-right">
    <h2>
      <small>
        {{ album.images.all|length }} billede{{ album.images.all|length|pluralize:"r" }}{% if album.publish_date %} fra {{ album.publish_date }}{% endif %}
      </small>
    </h2>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg">
    <p class="lead">
      {{ album.images.all|length }} billede{{ album.images.all|length|pluralize:"r" }}{% if album.publish_date %} fra {{ album.publish_date }}{% endif %}
    </p>
  </div>
</div>
<div class="row">
  {% for image in album.images.all %}
  <div class="col-xs-6 col-sm-4 col-md-3">
    <a class="thumbnail" href="{% url 'image' gfyear=album.gfyear album_slug=album.slug image_slug=image.slug %}" alt="Se billede">
      {% if image  %}
        <img src="{{ image.image.crop.336x224.url }}" alt="{{ album.title }}" />
      {% else %}
        <p>Albummet '{{ album.title }}' har ingen billeder endnu.</p>
      {% endif %}
    </a>
  </div> <!-- col-xs-6 -->
  {% endfor %}
</div> <!-- row -->
{% endblock content%}
