{% extends 'base.html' %}
{% load thumbnail tkbrand %}

{% block title %}{{ album.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>{{ album.title }} <small>{{ album.number_of_images }} billede{{ album.number_of_images|pluralize:"r" }} fra {% if album.eventalbum %}{{ album.publish_date }}{% else %}{{ album.gfyear|gfyearPPslash }} {% endif%}</small></h2>
  </div>
  {% for image in album.images.all %}
  <div class="col-xs-6 col-sm-4 col-md-3">
    <a class="thumbnail" href="{% url 'image' gfyear=album.gfyear album_slug=album.slug image_slug=image.slug %}" alt="Se billede">
    {% thumbnail image.image "336x224" crop="center" as thumb %}
    <img src="{{ thumb.url }}" alt="{{ album.title }}" />
    {% empty %}
    <p>Albummet '{{ album.title }}' har ingen billeder endnu.</p>
    {% endthumbnail %}
  </a>
  </div> <!-- col-xs-6 -->
  {% endfor %}
</div> <!-- row -->
{% endblock content%}
