{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Galleri{% endblock title %}

{% block js %}<script type="text/javascript">
  $(document).ready(function(){{% for album in albums %}{% if album.images.all %}
    $("#{{ album.gfyear|slugify }}-{{ album.title|slugify }}").yoxview({
      images: [{% for image in album.images.all %}
        { media: { src: '{{ image.image.url }}', title: '{{ image.caption }}' }},{% endfor %}
      ]});{% endif %}{% endfor %}
  });
</script>
<script type="text/javascript" src="{{ STATIC_URL }}yoxview/yoxview-init.js"></script>{% endblock js%}

{% block content %}
<table cellpadding="1">
{% for album in albums %}

  <tr>
    <td class="title"><h3>{{ album.title }}</h3></td>
    <td class="picture">
      {% thumbnail album.images.all.0.image "262x262" crop="noop" as thumb %}
        <a href="" id="{{ album.gfyear|slugify }}-{{ album.title|slugify }}">
          <img src="{{ thumb.url }}" alt="{{ album.title }}" />
        </a>
      {% empty %}No images{% endthumbnail %}
    </td>
  </tr>{% endfor %}
  </table>
{% endblock content%}
