{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load tkbrand %}

{% block title %}{{ album.title }}{% endblock title %}

{% block js %}
  <script src="{% static "gallery/jquery.touchswipe.min.js" %}"></script>
  <script src="{% static "gallery/tkgal.js" %}"></script>
{% endblock js %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-9">
      <ol class="breadcrumb imagetitle">
        <li><a href="{% url 'gfyear' gfyear=album.gfyear  %}">{{ album.gfyear|gfyearPPslash }}</a></li>
        <li><a href="{% url 'album' gfyear=album.gfyear album_slug=album.slug %}">{{ album.title }}</a></li>
        <li class="active"><span id="tkgal-index">{% for image in images %}{% ifequal image start_image %}{{ forloop.counter }}{% endifequal %}{% endfor %}</span> af {{ images|length }} <span class="hidden-xs">billede{{ images|length|pluralize:"r" }}</span></li>
      </ol>

  </div>
  <div class="col-xs-12 col-sm-3 text-right">
      <p class="imagetitle">
          <a id="tkgal-prev"
             class="tkgal-control"
             href="{{ prev_image.slug }}">Forrige</a> |
          <a id="tkgal-next"
             class="tkgal-control"
             href="{{ next_image.slug }}">Næste</a>
  </div>
</div>
<div class="row">
<div id="tkgal-container" class="col-xs-12">
    {% for image in images %}
  <div permlink="{{ image.slug }}" {% if image == start_image %}class="current"{% endif %}>
    <img class="img-responsive"
         alt="{{ album.slug }}/{{ image.slug }}"
         {% if image != start_image and image != next_image and image != prev_image %}data-{% endif %}srcset="{{ image.image.thumbnail.400x400.url }} 400w,
                 {{ image.image.thumbnail.720x720.url }} 720w,
                 {{ image.image.thumbnail.940x940.url }} 940w,
                 {{ image.image.thumbnail.1140x1140.url }} 1140w,
                 {{ image.image.thumbnail.2280x2280.url }} 2280w"
         src="{{ image.image.thumbnail.720x720.url }}">
    {{ image.date|default_if_none:"" }}
    <div class="pull-right">
        <a href="{{ image.image.url }}">
            {% bootstrap_icon "download-alt" %}
            ({{ image.image.size|filesizeformat }})</a>
    </div>
  </div> <!-- permlink, current? -->
  {% endfor %}
</div>
</div>
{% endblock content %}
