{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load tkbrand %}

{% block title %}{{ album.title }}{% endblock title %}
{% block navbar_class %}navbar-static-top{% endblock navbar_class %}

{% block js %}
  <script src="{% static "gallery/jquery.touchswipe.min.js" %}"></script>
  <script src="{% static "gallery/tkgal.js" %}"></script>
{% endblock js %}

{% block extra_head %}
  <link rel="canonical" href="{% url 'album' gfyear=album.gfyear album_slug=album.slug %}">
  <link rel="stylesheet" type="text/css" href="{% static "gallery/tkgal.css" %}">
{% endblock extra_head %}

{% block content %}
{% endblock content %}

{% block raw_content %}
<div class="tkgal-container">
	{% for file, next_file, prev_file in file_orders %}
	<div class="media{% if file == start_file %} current{% endif %}" data-permlink="{{ file.slug }}">
		<div class="container-full">
		{% if file.file.thumbnail.720x720.url %}
			<img alt="{{ album.slug }}/{{ file.slug }}"
				{% if file != start_file %}data-{% endif %}srcset=
					"{{ file.file.thumbnail.400x400.url }} 400w,
					{{ file.file.thumbnail.720x720.url }} 720w,
					{{ file.file.thumbnail.940x940.url }} 940w,
					{{ file.file.thumbnail.1140x1140.url }} 1140w,
					{{ file.file.thumbnail.2280x2280.url }} 2280w"
				{% if file != start_file %}data-{% endif %}sizes="100vw"
			    {% if file != start_file %}data-src=
					"{{ file.file.thumbnail.720x720.url }}"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
				{% else %}
				src="{{ file.file.thumbnail.720x720.url }}"
				{% endif %}>
		{% elif file.type == "A" %}
			<audio controls
				{% if file != start_file %}data-{% endif %}src=
				"{{ file.file.url }}">
				Your browser does not support the audio element.
			</audio>
		{% elif file.type == "V" %}
			<video controls
				{% if file != start_file %}data-{% endif %}src=
				"{{ file.file.url }}">
				Your browser does not support the video tag.
			</video>
		{% else %}
			<div class="lg-file-download text-center">
				<a class="btn btn-default btn-lg" href="{{ file.file.url }}">
					{% bootstrap_icon "download-alt" %}
					{{ file.slug }}
					({{ file.file.size|filesizeformat }})
				</a>
			</div>
		{% endif %}
			<div class="overlay overlay-top">
				<ol class="breadcrumb imagetitle">
					<li><a href="{% url 'gfyear' gfyear=album.gfyear  %}">{{ album.gfyear|gfyearPPslash }}</a></li>
					<li><a href="{% url 'album' gfyear=album.gfyear album_slug=album.slug %}">{{ album.title }}</a></li>
					<li>{{ forloop.counter }} af {{ files|length }}{% if file.file.thumbnail.720x720.url %} <span class="hidden-xs">billede{{ files|length|pluralize:"r" }}</span>{% endif %}</li>
				</ol>
			</div>
			<div class="overlay overlay-bottom">
				<div class="row">
					<div class="col-sm-4 hidden-xs text-left">{{ file.date|default_if_none:"" }}</div>
					<div class="col-sm-4 col-xs-12 text-center">
					{% if files|length > 1 %}
						<a class="tkgal-control tkgal-prev"
							rel="prev"
							href="{{ prev_file.slug }}">Forrige</a> |
						<a class="tkgal-control tkgal-next"
							rel="next"
							href="{{ next_file.slug }}">Næste</a>
					{% endif %}
					</div>
				  <div class="col-sm-4 hidden-xs text-right"><a href="{{ file.file.url }}">{% bootstrap_icon "download-alt" %} ({{ file.file.size|filesizeformat }})</a></div>
				</div>
			</div>
		</div>
		<div class="container">
			<p>{{ file.caption }}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock raw_content %}
