body {
    padding-top: 70px; /* for navbar-fixed-top */
}

@media (max-width: 420px) {
    .footer {
        font-size: 60%;
    }
}

//== The calendar app
//
//##

.cal-baseline-fix {
    margin-top: 11px;
}

//== The tk-brand app
//
//##

.tk-brand {
    font-family: 'Computer Modern Typewriter', 'Courier New', Courier, monospace;
    font-size: 118%;
    vertical-align: -0.005em;
}

//== The gallery app
//
//##

//** gallery.html and album.html
.thumbcap .caption{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.thumbcap {
    width: 100%;
    padding: 0px;
    position:relative;
}

//** gallery.html and album.html: generic files
.placeholder253x253 {
    height: 0;
    max-width: 253px;
    padding-bottom: 100%;
}

.placeholder253x253 > p {
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//** album.html
.imagetitle {
    padding: 0;
    margin-bottom: 10px;
    background: none;

    @media (min-width: @screen-sm-min) {
        font-size: @font-size-h4;
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);
    }
    @media (min-width: @screen-md-min) {
        font-size: @font-size-h3;
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);
    }
}

//** image.html
#tkgal-container {
    margin-top: -20px;

    .overlay {
        position: absolute;
        padding: 10px 20px;
        background-color: rgba(8,8,8,0.5);

        .breadcrumb {
            padding: 0;
            margin: 0;
            background: none;
            @media (min-width: @screen-sm-min) {
                font-size: @font-size-h4;
            }
            @media (min-width: @screen-md-min) {
                font-size: @font-size-h3;
            }
        }

        a {
            color: @text-color;
        }
    }

    .overlay-top{
        top: 0px;
    }

    .overlay-bottom{
        bottom: 0px;
        width: 100%;
    }
}


//** image.html: generic file
.lg-file-download {
    padding: 30px 0 60px 0;
}

//** from tkgal.css
html {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.media {
    display: none;
    margin-top: 0px;
}

.media.current {
    display: block;
}

.container-full {
    display: table-cell;
    width: 100vw;
    height: ~'calc(100vh - 50px)';
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: relative;
    border-bottom: 1px solid rgb(34,34,34);
}

.container-full+.container {
    margin-top: 20px;
}

.container-full img, .container-full video {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.container-full video{
    padding-bottom: 50px;
}
