body > .container {
    padding: 60px 15px 0;
}

/* Til tk-brand appen */
.tk-brand {
    font-family: monospace;
}

/* Til gallery appen */
.thumbcap .caption{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.thumbcap {
    width: 100%;
    padding: 0px;
    position:relative;
}

#tkgal-container > *{
    display:none;
    position:relative;
}

#tkgal-container > img {
    margin: 0 auto;
}

#tkgal-container > .current {
    display:block;
}

@media (min-width: 768px) { /* Erstat 768px med @screen-sm-min når denne bliver til en .less-fil */
    .tkgal-controls {
        margin-top: 26px;
        margin-bottom: 10px;
    }
}