//== Colors
//
//##

@brand-primary: #7E8AA2;
@body-bg: #080808;
@text-color: @gray-lighter;
@link-hover-color: #263248;

//== Navbar
//
//##

@navbar-inverse-color:                      @text-color;
@navbar-inverse-bg:                         @body-bg;
@navbar-inverse-border:                     lighten(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @text-color;
@navbar-inverse-link-hover-color:           @gray-light;
@navbar-inverse-link-active-color:          @navbar-inverse-link-color;
@navbar-inverse-link-active-bg:             @navbar-inverse-border;

// Inverted navbar brand label
@navbar-inverse-brand-color:                #fff;
@navbar-inverse-brand-hover-color:          #fff;


//== Iconography
//
//##

@icon-font-path: "bootstrap/fonts/";
