{% extends "regnskab/base.html" %}
{% block title %}Email til {{ object.recipient_name }}{% endblock %}
{% block nav %}
<a href="{% url 'regnskab:email_list' pk=session.pk %}"><li>Emails</li></a>
{% endblock %}
{% block navcurrent %}<li>{{ object.recipient_name }}</li>{% endblock %}
{% block content %}
<h2>{{ object.recipient_name }}</h2>
<p>Til: <tt>{{ object.recipient_email }}</tt></p>
<p>Emne: <tt>{{ object.subject }}</tt></p>
<pre style="white-space: pre-wrap">{{ object.body }}</pre>
<h2>Send kopi</h2>
<form method="post" action="{% url 'regnskab:email_send' pk=session.pk profile=profile.pk %}">{% csrf_token %}
    <p><label>Modtager: <input name="override_recipient" value="{{ user.email }}"></label></p>
    <p><input type="submit" value="Send kopi" /></p>
</form>
{% if images %}
<img src="{{ images }}" />
{% else %}
<p>Intet billede at vedhæfte.</p>
{% endif %}
{% endblock %}
