{% extends "regnskab/base.html" %}
{% block fulltitle %}INKAs regningsgenerator{% endblock %}
{% block content %}
<h1>INKAs regnskab</h1>

<p>Velkommen {{ inka.name }}</p>

<p>Seneste krydslisteopgørelse:
{% if latest_session %}
<a href="{% url 'session_update' pk=latest_session.pk %}">{{ latest_session.created_time }}</a>
{% if latest_session.sent %}
udsendt {{ latest_session.send_time }}
{% endif %}
{% else %}
Ingen endnu
{% endif %}
</p>

{# Display form if there is no latest_session or latest_session.sent is true #}
{% if not latest_session.sent %}{% else %}
<form method="post" action="{% url 'session_create' %}">{% csrf_token %}
    <input type="submit" value="Begynd ny opgørelse" />
</form>
{% endif %}

<p><a href="{% url 'session_list' %}">Vis alle opgørelser</a></p>

<p><a href="{% url 'profile_list' %}">Vis liste af personer</a></p>

<p><a href="{% url 'email_template_list' %}">Vis og opret emailskabeloner</a></p>
{% endblock %}
