{% extends "regnskab/base.html" %}
{% block title %}{{ profile }}{% endblock %}
{% block content %}
<h1>{{ profile }}</h1>
<form method="post">{% csrf_token %}
    {% if sheetstatus %}
    <input type="submit" value="Fjern fra krydslisten" />
    {% else %}
    <input type="submit" value="Tilføj til krydslisten" />
    {% endif %}
</form>
<table>
    <thead>
        <tr>
            <th>Tidspunkt</th>
            <th>Beskrivelse</th>
            <th>Beløb</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>
                {% if row.sheet %}
                <a class="sheet-link" href="{% url 'sheet_detail' pk=row.sheet %}">{{ row.date }}</a>
                {% else %}
                {{ row.date }}
                {% endif %}
            </td>
            <td>{{ row.name }}</td>
            <td align=right>{{ row.amount }}</td>
            <td align=right>{{ row.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
