{% extends "regnskab/base.html" %}
{% block title %}Personer{% endblock %}
{% block content %}
<form method="get" action="{% url 'regnskab:profile_search' %}">
<p>
Søg efter navn, titel eller alias:
<input name="q" value="" size="60" autofocus /></p>
<p><label><input name="c" checked type="checkbox" />
Kun folk på krydslisten</label></p>
<input type="submit" value="Søg" />
</form>
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>På krydslisten</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for person in object_list %}
        <tr>
            <td><a class="profile-link"
                   href="{% url 'regnskab:profile_detail' pk=person.pk %}">
                    {{ person.title_name }}</a></td>
            <td>{{ person.status.since }}</td>
            <td align=right>{{ person.balance|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
