{% extends "regnskab/base.html" %}
{% block title %}Personer{% endblock %}
{% block content %}
<form method="get" action="{% url 'regnskab:profile_search' %}">
<p>
Søg efter navn, titel eller alias:
<input name="q" value="" size="40" autofocus />
<label><input name="c" checked type="checkbox" />
Kun folk på krydslisten</label>
<input type="submit" value="Søg" />
</p>
</form>
<form method="get">
    <p>{{ form.purchases_after.label_tag }}
    {{ form.purchases_after }}
    <input type="submit" value="Vis forbrug" /></p>
</form>
<table class='purchase-stats'>
    <thead>
        <tr>
            <th>Navn</th>
            <th>På krydslisten</th>
            {% for s in columns %}
            <th>{{ s }}</th>
            {% endfor %}
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for person in object_list %}
        <tr>
            <td class='row-key'><a class="profile-link"
                   href="{% url 'regnskab:profile_detail' pk=person.pk %}">
                    {{ person.title_name }}</a></td>
            <td>{{ person.status.since }}</td>
            {% for s in person.stats %}
            <td>{{ s }}</td>
            {% endfor %}
            <td>{{ person.balance|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
