{% extends "regnskab/base.html" %}
{% block title %}Personer{% endblock %}
{% block content %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Personer</h2>
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>På krydslisten</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for person in object_list %}
        <tr>
            <td><a class="profile-link"
                   href="{% url 'regnskab:profile_detail' pk=person.pk %}">
                    {{ person.title.display_title }} {{ person.name }}</a></td>
            <td>{{ person.status.since }}</td>
            <td align=right>{{ person.balance|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
