{% extends "regnskab/base.html" %}
{% block title %}Opgørelser{% endblock %}
{% block content %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Opgørelser</h2>

<form method="post" action="{% url 'regnskab:session_create' %}">{% csrf_token %}
    <input type="submit" value="Begynd ny opgørelse" />
</form>

<table>
    <thead>
        <tr>
            <th>Oprettet</th>
            <th>Skabelon</th>
            <th>Sendt</th>
        </tr>
    </thead>
    <tbody>
        {% for o in object_list %}
        <tr>
            <td><a href="{% url 'regnskab:session_update' pk=o.pk %}">
                    {{ o.created_time }}</a></td>
            <td>{{ o.email_template.name }}</td>
            <td>
                {% if o.sent %}
                {{ o.send_time }}
                {% else %}
                ikke endnu
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
