{% extends "regnskab/base.html" %}
{% block title %}Opgørelser i {{ period }}{% endblock %}
{% block content %}

<h1>Opgørelser i årgang {{ period }}</h1>
<form method="post" action="{% url 'regnskab:session_create' %}">{% csrf_token %}
    <input id="id_create_session" type="submit" value="Begynd ny opgørelse" />
</form>

<table class='purchase-stats'>
    <thead>
        <tr>
            <th>Dato</th>
            {% for c in sessions_columns %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for o in sessions %}
        <tr>
            <td class='row-key'>
                <a href="{{ o.href }}">
                    {% if o.sent %}
                    Udsendt {{ o.send_time }}
                    {% else %}
                    Oprettet {{ o.created_time }}
                    {% endif %}</a>
            </td>
            {% for n in o.stats %}
            <td>{{ n }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Alle årgange</h2>

<table class='purchase-stats'>
    <thead>
        <tr>
            <th>Årgang</th>
            {% for c in years_columns %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for year, stats in years %}
        <tr>
            <td class='row-key'><a href="?year={{ year }}">{{ year }}</a></td>
            {% for n in stats %}
            <td>{{ n }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
