{% extends "regnskab/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css"
href="{% static 'regnskab/regnskab.css' %}" />
<script src="{% static 'react/react.js' %}"></script>
<script src="{% static 'react/react-dom.js' %}"></script>
<script src="{% static 'regnskab/regnskab.js' %}"></script>
<script>window.TK_PROFILES = (
{{ profiles_json|safe }});
</script>
{% endblock %}
{% block content %}
<h1>{{ sheet }}</h1>

<div id="sheet-container"></div>

<table>
<thead>
<tr>
<th></th>
<th>Navn</th>
{% for kind in sheet.purchasekind_set.all %}
<th>{{ kind.name }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in sheet.rows %}
<tr>
<td>
{% for kind in row.kinds %}{{ kind.count|floatformat }}
{% endfor %}
</td>
<td>{{ row.name|default:row.profile }}</td>
{% for kind in row.kinds %}
<td>
<span class="crosses column-{{ kind.kind.position }}">
{% for _ in kind.counter %}<span class="cross">&times;</span>{% endfor %}
{% if kind.count %}<span class="count">{{ kind.count|floatformat }}</span>{% endif %}
</span>
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
