{% extends "regnskab/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css"
href="{% static 'regnskab/sheet_detail.css' %}" />
{% endblock %}
{% block title %}Krydslisten {{ sheet }}{% endblock %}
{% block content %}
{% if sheet.legacy_style %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Opgørelsen {{ sheet.end_date }}</h2>
<p>Denne opgørelse er fra det gamle INKA-program (før 2017) og viser hvad folk
har krydset på alle krydslisterne siden sidst regningen blev gjort op.</p>
{% else %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Krydslisten {{ sheet }}</h2>
{% endif %}
<table class="sheet">
<thead>
<tr>
<!--<th></th>-->
<th>Navn</th>
{% for kind in sheet.columns %}
<th>{{ kind.short_name }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in sheet.rows %}
<tr class="{% if row.profile.id == highlight_profile %}highlight{% endif %}">
<!--
<td>
{% for kind in row.kinds %}{{ kind.count|floatformat }}
{% endfor %}
</td>
-->
<td>
{% if not sheet.legacy_style %}{{ row.name }}<br />{% endif %}
{{ row.display_title|default:"" }} {{ row.profile|default:"" }}
</td>
{% for kind in row.kinds %}
<td>
<span class="crosses column-{{ kind.kind.name }}">
{% for _ in kind.counter %}<span class="cross">&times;</span>{% endfor %}
{% if kind.count %}<span class="count">{{ kind.count|floatformat }}</span>{% endif %}
</span>
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
