{% extends "regnskab/base.html" %}
{% block head %}
<style>
.sheet {
	border-collapse: collapse;
}
.sheet td, .sheet th {
	border-bottom: 1px solid #666;
	font-weight: normal;
}
.crosses {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	height: 40px;
	align-content: flex-start;
	width: 60px;
	border-left: 3px solid #333;
	overflow: hidden;
}
.crosses.column-øl {
	width: 225px;
}
.crosses.column-guldøl {
	width: 90px;
}
.crosses.column-sodavand {
	width: 225px;
}
.crosses > .cross {
	width: 15px;
	line-height: 20px;
	height: 20px;
}
.crosses > .count {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.highlight { background-color: rgba(255, 0, 0, 0.4); }
</style>
{% endblock %}
{% block title %}Krydslisten {{ sheet }}{% endblock %}
{% block content %}
{% if sheet.legacy_style %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Opgørelsen {{ sheet.end_date }}</h2>
<p>Denne opgørelse er fra det gamle INKA-program (før 2017) og viser hvad folk
har krydset på alle krydslisterne siden sidst regningen blev gjort op.</p>
{% else %}
<h1><a href="{% url 'regnskab:home' %}">INKAs regnskab</a></h1>
<h2>Krydslisten {{ sheet }}</h2>
{% endif %}
<table class="sheet">
<thead>
<tr>
<!--<th></th>-->
<th>Navn</th>
{% for kind in sheet.columns %}
<th>{{ kind.short_name }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in sheet.rows %}
<tr class="{% if row.profile.id == highlight_profile %}highlight{% endif %}">
<!--
<td>
{% for kind in row.kinds %}{{ kind.count|floatformat }}
{% endfor %}
</td>
-->
<td>
{% if not sheet.legacy_style %}{{ row.name }}<br />{% endif %}
{{ row.display_title }} {{ row.profile }}
</td>
{% for kind in row.kinds %}
<td>
<span class="crosses column-{{ kind.kind.name }}">
{% for _ in kind.counter %}<span class="cross">&times;</span>{% endfor %}
{% if kind.count %}<span class="count">{{ kind.count|floatformat }}</span>{% endif %}
</span>
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
