{% extends 'base.html' %}

{% block title %}Kalender{% endblock title %}

{% block canonical_url %}
<link rel="canonical" href="{% url 'kalender' %}">
<meta property="og:url" content="{% url 'kalender' %}" />
{% endblock canonical_url %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-push-8 text-right">
                <a href="{{ config.CAL_URL }}">Tilføj til din egen kalender</a>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-pull-4"><h2>Kommende arrangementer</h2></div>
        </div>
    </div>
</div> <!-- row -->
{% with futureEvents as events %}
{% include 'events.html' %}
{% endwith %}

<div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 page-header">
        <h2>Tidligere arrangementer</h2>
    </div>
</div> <!-- row -->
{% with pastEvents as events %}
{% include 'events.html' %}
{% endwith %}

{% endblock content%}
