{% extends 'base.html' %}
{% load static %}

{% block title %}{{ status|default:"404 Not Found" }}{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-xs-12 ">
        <div class="jumbotron">
            <h1>{{ status|default:"404 Not Found" }}</h1>
            <h2>Gå et skridt tilbage og bund en bajer!</h2>
            <p>{{ explanation|default:"" }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
        <img src="{% static "404.png" %}" class="img-responsive" alt="Gået kold">
    </div>
</div>
{% endblock content %}
