{% load bootstrap3 tk-brand%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title%} | TÅGEKAMMERET</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    {% bootstrap_css %}
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% tket %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'om' %}">Om TK</a></li>
            <li><a href="{% url 'bestfu' %}">BEST/FU</a></li>
            <li><a href="#">Kalender</a></li>
            <li><a href="{% url 'arrangementer' %}">Arrangementer</a></li>
            <li><a href="{% url 'gallery' %}">Galleri</a></li>
            <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="container">
      {% block content %}{% endblock content%}
    </div> <!-- container -->
      &copy;1956-2015 <a href="/">{% tket %}</a>
    </p>
    {% bootstrap_javascript jquery=1%}
    <script type="text/javascript" src="{{ STATIC_URL }}yoxview/yoxview-init.js"></script>
    {% block js %}{% endblock js%}
  </body>
</html>
