{% load repeatedblocks bootstrap3 tkbrand staticfiles %}
<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{% repeated_block title %}{% endblock title%} | TÅGEKAMMERET</title>
    <meta property="og:title" content="{% repeat title %}" />
    <link rel="canonical" href="{% repeated_block canonical_url %}{% endblock canonical_url %}">
    <meta property="og:url" content="{% repeat canonical_url %}" />
    <meta property="og:site_name" content="TÅGEKAMMERET" />
    <meta property="og:locale" content="da" />
    {% block opengraph %}
    <meta property="og:image" content="{{ STATIC_URL }}TKlogo.jpg" />
    <meta property="og:description" content="TÅGEKAMMERET er en fest- og foredragsforening på Det Naturvidenskabelige Fakultet på Aarhus Universitet." />
    {% endblock opengraph %}
    {% bootstrap_css %}
    {% include 'favicon.html' %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">{% TKET %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'om' %}">Om TK</a></li>
            <li><a href="{% url 'bestfu' %}">BEST/FU</a></li>
            <li><a href="{% url 'kalender' %}">Kalender</a></li>
            <li><a href="{% url 'arrangementer' %}">Arrangementer</a></li>
            <li><a href="{% url 'gallery_index' %}">Galleri</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Jubilæer<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">J40</li>
                    <li><a href="{% url 'J40resume' %}">Resume</a></li>
                    <li><a href="{% url 'J40historie' %}">Historie</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">J50</li>
                    <li><a href="{% url 'J50resume' %}">Resume</a></li>
                    <li><a href="{% url 'J50arrangementer' %}">Arrangementer</a></li>
                    <li><a href="{% url 'album' gfyear=2006 album_slug='j-50-reception' %}">Billeder</a></li>
                    <li><a href="{% static "jubi/J50/J50-Jubiskrift.pdf" %}">Jubilæumsskrift</a></li>
                    <li><a href="{% static "jubi/J50/J50-Revy.pdf" %}">Revymanuskript</a></li>
                    <li><a href="{% static "jubi/J50/J50-Sangbog.pdf" %}">Sangbog</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">J60</li>
                    <li><a href="{% url 'J60' %}">Arrangementer</a></li>
                    <li><a href="{% static "jubi/J60/J60-Jubiskrift.pdf" %}">Jubilæumsskrift</a></li>
                    <li><a href="{% static "jubi/J60/j60revy.pdf" %}">Revymanuskript</a></li>
                    <li><a href="{% static "jubi/J60/J60-Sangbog.pdf" %}">Sangbog</a></li>
                    <li class="dropdown-header">Billeder</li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-lovfaldstur' %}">Løvfaldstur</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-foredrag' %}">Foredrag</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-reception' %}">Reception</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-torsdags-mode' %}">Torgsdagsmøde</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-revy' %}">Revy</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-gruppebilleder' %}">Gruppebilleder</a></li>
                    <li><a href="{% url 'album' gfyear=2016 album_slug='j60-fest' %}">Fest</a></li>
                </ul>
            </li>
            <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block raw_content %}
    <div class="container" role="main">
      {% block content %}{% endblock content%}
        {% include 'footer.html' %}
    </div> <!-- container -->
    {% endblock raw_content %}
    {% bootstrap_javascript jquery=1%}
    {% block js %}{% endblock js%}
  </body>
</html>
