{% extends 'base.html' %}
{% load bootstrap3 tkbrand staticfiles %}

{% block title %}BEST &amp; FU{% endblock title %}

{% block canonical_url %}{% url 'bestfu' %}{% endblock canonical_url %}

{% block opengraph %}
<meta property="og:image" content="{{ STATIC_URL }}TKlogo.jpg" />
<meta property="og:description" content="Bestyrelsen og FUerne" />
{% endblock opengraph %}

{% block content %}
<h2>Bestyrelsen</h2>
<p>{% TKETs %} bestyrelse består af otte personer. For øjeblikket er
    det:</p>
<div class="row">
<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
<table class="table table-condensed">
    <tbody>
        {% for p in best %}
        <tr>
            <td>{{ p|tk_prefix }}</td>
            <td>{{ p.profile.name }}</td>
            <td class="text-right"><a href="mailto:{{ p|tk_email:'prefix' }}@TAAGEKAMMERET.dk">
                {{ p|tk_email:'prefix' }}@{% TKETAA %}.dk</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<p>Ligesom de græske guder er hvert bestyrelsesmedlem udstyret med et
    ansvarsområde og nogle attributter.</p>

<h3>FORM</h3>
<p>FORM er dum. Det ses tydeligt, da høn har valgt at tage hele det
    store ansvar for kammeret. Det forlyder dog, at høn er snedig &ndash;
    det påstår høn i hvert fald selv, og af og til viser høn, at høn har
    rat. Med kappe og krone fører høn sig frem til særlige lejligheder
    &ndash; i øvrigt en krone skænket af ærkefjenderne fra
    Næstformationen.</p>


<h3>NF</h3>
<p>NF befinder sig i en grænsetilstand af mental ustabilitet og er
    derfor i den unikke situation at kunne lukke sindssyge tanker ud på
    kommando. Disse tanker kommunikeres ud til folkemasserne via
    løbeseddels-propaganda, som skrives på den ældgamle skrivemaskine
    RemToR. Al officiel kommunikation med verden udenfor foregår normalt
    også gennem makkerparret NF og RemToR.</p>

<h3>INKA</h3>
<p>INKA er {% TKETs %} inkassator og har den fornemme opgave at
    indkræve penge fra de folk, som skylder.  For at kunne løfte denne
    byrde har INKA et sæt rokokokøller, som høn glædeligt svinger, hvis
    høn føler sig berettiget til det. Der er god grund til at frygte høn,
    for høn står nemlig ikke alene! Høn har nemlig banden KET i ryggen, en
    samling af gamle, onde kasserer og inkassatorer.  Derudover står INKA
    også for medlemskaberne i {% TKET %}.</p>

<h3>KA$$</h3>
<p>KA$$ har til opgave at holde styr på regnskabet. KA$$ er nærig, så
    der skal fedtes, hvis der skal foretages indkøb til {% TKET %}. Til
    at hjælpe med at tælle penge, har KA$$ en kugleramme og en hær af
    gamle, onde kasserere og inkassatorer (KET), der sikrer høn mod at
    regne forkert, så betvivl ej! Regnskabet passer altid!</p>

<h3>CERM</h3>
<p>Hvis du hører et horn, der gjalder og en gøglers fjollerier i det
    fjerne, så har du nok hørt den kære ceremonimester. For når
    {% TKET %} optræder offentligt, er det CERM der styrer
    showet. Således er det CERM der laver happenings og leder tropperne
    rundt til relevante receptioner &ndash; altid med en fantastisk
    nyskreven sang og et horn i hånden.</p>

<h3>VC</h3>
<p>En af de aktiviteter, der dyrkes mest på {% TKET %} er indtagning
    af øl og vand. Det er ViceCeremonimesterens opgave at sørge for, der
    altid er rigeligt at tage af. Dagligt køres tomme kasser væk og fyldte
    kasser til for at holde ølflowet konstant. Drikkes kammeret tomt,
    skylder VC en omgang. Som høns titel antyder, er høn desuden CERMs
    stedfortræder, og overtager således ceremonimesterens ansvar, når
    denne af en eller anden grund ikke dukker op. Med dette ansvar følger
    også tilladelsen til at trutte i CERMs horn, når der skal larmes.</p>

<h3>SEKR</h3>
<p>Sekretæren har det utaknemmelige job at registrere alt hvad der
    sker i Kammerregi og nedfælde det i Kammerets protokol. Takket være
    sekretærernes indsatser gennem tiderne kan man finde oplysninger om
    arrangementer helt tilbage til foreningens stiftelse i 1956. Herudover
    er sekretæren også vores Booze-Master: Enerådigt bestemmer høn hvilke
    drinks der udbydes til festerne og køber det nødvendige sprut og
    barinventar.</p>

<h3>PR</h3>
<p>PR kan alt med papir, saks, tusch og lim. Den ene plakat efter den
    anden trylles frem og op til vores arrangementer er de fleste af
    fakultetets gule mursten dækket af farverige og indbydende
    plakater. Høn gør sit ypperste for, at den gunstige forening flotter
    sig udadtil igennem hjemmesiden og Facebooksiden.  PR og SEKR er ikke
    medlemmer af en forening.</p>

<h2>Festudvalget</h2>
<p>{% TKET %} bygger på en aktiv medlemsskare, der ikke er bange for
    at give en hånd med til vores arrangementer.  For at gøre afholdelsen
    af fester lidt mere smertefrie, har vi dog et specielt FestUdvalg, som
    normalt består af førsteårstuderende. Når man optages i dette udvalg,
    bliver ens normale navn erstattet af et fire bogstavers navn startende
    med bogstaverne FU.</p>

<p>I år består festudvalget af følgende FU'er:</p>
<div class="row">
<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
<table class="table table-condensed">
    <tbody>
        {% for p in fu %}
        <tr>
            <td>{{ p|tk_prefix }}</td>
            <td>{{ p.profile.name }}</td>
            <td class="text-right"><a href="mailto:{{ p|tk_email:'prefix' }}@TAAGEKAMMERET.dk">
                {{ p|tk_email:'prefix' }}@{% TKETAA %}.dk</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<p>FU'erne har desuden den ære at dele løbesedler ud til samtlige
    borde og andre velegnede steder på hele Naturvidenskab.
    Løbeseddeltjanserne tildeles FU'erne under mødet om torsdagen, og
    sedlerne forventes at være ude inden kl. 11. Opfyldning af
    kæleskabet klares også af FU'erne. Nuværende og gamle FU'er er
    samlet i en eksklusiv forening ved navn FU'ernes Central Komite
    (FUCK). Tidligere FU'er, som nu er i bestyrelsen, er naturligvis
    ekskluderet fra denne forening.</p>
{% endblock content%}
